<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Assignment_1</title>
</head>
<body style="width:1140px; margin:0 auto;">
  <div style="height:300px; width:450px;margin:30px 250px;border:10px solid #000;background-color:#778beb;">
    <img src="css_pract_1/images/linus.jpg" alt="image"
    style="height:150px; width:100px;margin-left:175px;margin-top:30px;">
    <div style="margin-left:110px;">
      <h2 style="color:#341f97;margin-left:25px;">Linus Torvalds</h2>
      <h3 style="font-weight:100;">The creator of Linux & Git</h3>
    </div>
  </div>
  <div style="margin-left:180px;height:150px;margin-bottom:30px;">
    <img src="css_pract_1/images/khan.jpg" style="width:100px;height:130px;float:left;" alt="image">
    <div style="float:left;margin-left:30px;">
      <h2 style="color:red; ">Sal Khan</h2>
      <p style="">Salman khan is the founder of khan academy, which has a mission <br>
        of providing free world class education for anyone,anywhere</p>
    </div>
  </div>
  <div style="clear:left;height:120px;background-color:#e15f41;">
    <div style="float:left;margin-left:30px;">
      <h2 style="color:white;font-weight:100;">Ken Thompson</h2>
      <p>Designed and implemented the <br>original unix operating system</p>
    </div>
    <div style="width:10px;height:100px;background-color:#000;float:left;margin:10px 0 20px 250px;">
&nbsp;
    </div>
    <div style="float:right;margin-right:30px;">
      <h2 style="color:white;font-weight:100 ;">Dennis Ritche</h2>
      <p>The creator of C programming Language</p>
    </div>
  </div>


</body>
</html>
